@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

:root {
  --header-height: 3rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --dark-color: #141414;
  --dark-color-light: #8a8a8a;
  --dark-color-lighten: #f2f2f2;
  --white-color: #fff;

  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.25rem;
  --bigger-font-size: 1.5rem;
  --bigest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.813;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --bigest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}


.megrim {
  font-family: 'Megrim', cursive !important;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 1.6;
}

.center {
  text-align: center;
  padding: 20px;
}

.cartContainer {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
  display: inline;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.subtotalText {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.6rem;
}

.deleteButton {
  background: none;
  cursor: pointer;
  border: none
}

#payNowButton {
  background-color: #ffffff;
  color: black;
  padding: 0.5rem 1rem;
  border: solid 2px #383838;
  border-radius: 5px;
  cursor: pointer;
}

#cardHolderNameInput {
  margin-top: 15px;
  margin-bottom: 14px;
}

#tableNumberInput {
  margin-bottom: 14px;
}

.awn-top-right {
  margin-top: 50px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 5rem 0 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
  text-align: center;
  letter-spacing: 0.1em;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--dark-color-lighten);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5s;
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
}

.nav_logo {
  font-weight: var(--font-semi-bold);
}

.nav_toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.show {
  left: 0;
}

.active {
  position: relative;
}

.active {
  background: rgb(138, 138, 138);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.scroll-header {
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home {
  background-color: var(--dark-color-lighten);
  overflow: hidden;
}

.home_container {
  height: calc(100vh - var(--header-height));
}


.home_img {
  position: relative;
  top: 1rem;
  max-width: initial;
  width: 220px;
  transform: var(--rotate-img);
}

.home_new {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-top: 10%;
}

.home_title {
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-1);
}

.home_description {
  margin-bottom: var(--mb-6);
}

.button {
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  transform: translateY(-.25rem);
}

.button-light {
  display: inline-flex;
  color: var(--dark-color);
  font-weight: var(--font-bold);
  align-items: center;
}

.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-1);
  transition: .3s;
}

.button-light:hover .button-icon {
  transform: translateX(.25rem);
}

.featured_container {
  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.menuItemArticle {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--dark-color-lighten);
  border-radius: .5rem;
  transition: .5s;
}

.articleBlackBanner {
  position: absolute;
  left: .5rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  transform: rotate(-90deg);
  letter-spacing: .1rem;
}

.foodItem_img {
  width: 270px;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-4);
}

.foodItem_name,
.foodItem_price {
  font-size: var(--h2-font-size);
  letter-spacing: .1rem;
  font-weight: var(--font-semi-bold);
}

.foodItem_name {
  margin-bottom: var(--mb-1);
}

.foodItem_price {
  margin-bottom: var(--mb-4);
}

.menuItemArticle:hover {
  transform: translateY(-.5rem);
}

.collection_desc {
  margin-bottom: var(--mb-2);
}

.new_container {
  grid-row-gap: 2rem;
}

.new_title {
  font-size: var(--bigger-font-size);
  margin-bottom: .25rem;
}

.new_price {
  display: block;
  margin-bottom: var(--mb-3);
}

.moreInfo_container {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 2rem .5rem;
  border-radius: .5rem;
  text-align: center;
}

.moreInfo_title {
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-2);
}

.moreInfo_description {
  margin-bottom: var(--mb-5);
}

.footer_title {
  font-size: var(--big-font-size);
}

.foooter_link {
  display: block;
  width: max-content;
  margin-bottom: var(--mb-1);
}

.footer_cr {
  /* padding-top: 3rem; */
  font-size: var(--smaller-font-size);
  color: var(--dark-color-light);
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 3rem;
  }

  .section-title::after {
    width: 76px;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav_menu {
    margin-left: auto;
  }

  .nav_list {
    display: flex;
  }

  .nav_item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav_toggle {
    display: none;
  }

  .home_container {
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }

  .home_img {
    width: 320px;
    top: 3.5rem;
    right: 0;
    left: -1rem;
  }

  .moreInfo_container {
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }

  .moreInfo_description {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home_container {
    column-gap: 8rem;
  }

  .new_container {
    grid-template-columns: max-content 1fr;
  }
}

.trigger {
  margin-top: 5px;
}

/* Cart modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

/* modal-content width relative ot screen size, 35rem for laptop, 20 for mobile */
@media screen and (min-width: 768px) {
  .modal-content {
    width: 35rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-content {
    width: 21rem;
  }
}


.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: (211, 211, 211);
}

.close-button:hover {
  background-color: (169, 169, 169);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.float {
  position: fixed;
  width: 130px;
  height: 60px;
  bottom: 35px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #1f1f1f;
  box-shadow: 2px 2px 3px #999;
  right: 40px;
}

.float:hover {
  transform: scale(1.01);
  background-color: #e1e1e1;
  transition: 0.3s;
}